# Environments
.env
.venv
env/
venv/
ENV/
.env.local
# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
datadump.json
# Database dumps & backups
*.sql
*.sql.gz
*.dump
media/
staticfiles/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

